.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background-color: rgb(255, 255, 200);
    padding: 20px;
    text-align: center;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li {
    width: 60px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}